version: 2

updates:
  - package-ecosystem: "cargo"
    directory: "/template"
    schedule:
      interval: "monthly"
  - package-ecosystem: "gomod"
    directory: "/go"
    schedule:
      interval: "monthly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
